.App {
  background-image: url("https://images.unsplash.com/photo-1483982258113-b72862e6cff6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding-bottom: 8px;
}

h1 {
  margin-top: 5px;
  font-family: 'Merriweather Sans', sans-serif;
}

h2 {
  color: #09d3ac;
  margin-top: 5px;
  font-family: 'Source Code Pro', monospace;
}

h3 {
  font-weight: 400;
  font-family: 'Source Code Pro', monospace;
}

p {
  font-family: 'Source Code Pro', monospace;
}

a {
  text-decoration: none;
  color: #09d3ac;
}

.App-logo {
  height: 3vmin;
}

.App-link {
  color: white;
  margin-top: 10px;
  background-color: #09d3ac;
}

.Content {
  width: 80%;
  margin: auto;
}
