.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: #09d3ac;
}

.App-logo {
  height: 3vmin;
}

.App-header {
  /* background-color: #282c34; */
  background-image: url("https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
  margin-top: 10px;
}

.Created-with-react {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Created-with-react p {
  font-size: 14px;
}

.Header-personal {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.Header-text p {
  margin: 0px;
  padding: 0px;
}

.Work-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
}